.App {
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

$appHeaderHeight: 8.5rem;
.App-header {
  box-sizing: border-box;
  height: $appHeaderHeight;
  margin: 0px;
  padding: 0px;
}

.App-main {
  display: flex;
  height: calc(100% - #{$appHeaderHeight});
  .input-area {
    flex: 5;
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
  }
  $buttonAreaWidth: 70px;
  .display-area {
    flex: 5;
    box-sizing: border-box;
    height: 100%;
    $minifiedAreaHeight: 70px;
    .formatted-area {
      display: flex;
      box-sizing: border-box;
      height: calc(100% - #{$minifiedAreaHeight});
    }
    .minified-area {
      display: flex;
      box-sizing: border-box;
      height: $minifiedAreaHeight;
    }
    .button-area {
      box-sizing: border-box;
      width: $buttonAreaWidth;
      margin-top: auto;
      margin-bottom: auto;
      .button-wrapper {
        box-sizing: border-box;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .text-area {
      box-sizing: border-box;
      width: calc(100% - #{$buttonAreaWidth});
      padding: 5px;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
