.TextBox {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: inherit;
    border: none;
    resize: none;
  }
}
